@charset "UTF-8";

:root{
    --cor0: #FEE21C;
    --cor1: #DF3035;
    --cor2: #343235;
    --cor3: white;

    --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--cor0);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: var(--cor1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.281);
}

header> p {
    color: var(--cor2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: bolder;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto; 
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}

nav{
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding: 15px;
    margin: auto;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.199);
}

nav > a {
    color: var(--cor2);
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: rgba(255, 255, 0, 0.479);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.8em;
}

main h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cor1);
    font-size: 1.3em;
    font-weight: bold;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
}    

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}